DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/narasacakraperwana?schema=public"
NEXT_PUBLIC_SITE_URL="https://narasacakraperwana.com"
GITHUB_OWNER="nararyajayautamagroub"
GITHUB_TOKEN=""
GITHUB_SYNC_KEY=""